.DS_Store
.project
examples/data
*.o
*.so
*.obj
*.pdb
Makefile
mkmf.log
opencv.bundle
GPATH
GRTAGS
GSYMS
GTAGS
OpenCV-*
ruby-*
ext/opencv/test.txt
pkg/
doc/
log.txt
videowriter_result.avi
examples/contours/rotated-boxes-with-detected-bounding-rectangles.jpg
Gemfile.lock
