.DS_Store
.project
examples/data
*.o
*.so
Makefile
mkmf.log
opencv.bundle
GPATH
GRTAGS
GSYMS
GTAGS
OpenCV-*
ruby-*
ext/opencv/test.txt
pkg/
log.txt
*.avi
examples/rotated-boxes-with-detected-bounding-rectangles.jpg
